AIO.Api.SAPTSO/Connected Services/ServiceCustomer/ServiceSapTso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSapTso" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://190.181.58.244/saptso-api/ServiceSapTso.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://190.181.58.244/saptso-api/ServiceSapTso.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSapTso_SetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceSapTso_SetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSapTso_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IServiceSapTso_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSapTso">
    <wsdl:operation name="SetCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSapTso/SetCliente" message="tns:IServiceSapTso_SetCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSapTso/SetClienteResponse" message="tns:IServiceSapTso_SetCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSapTso/Test" message="tns:IServiceSapTso_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSapTso/TestResponse" message="tns:IServiceSapTso_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSapTso" type="tns:IServiceSapTso">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceSapTso/SetCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IServiceSapTso/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSapTso">
    <wsdl:port name="BasicHttpBinding_IServiceSapTso" binding="tns:BasicHttpBinding_IServiceSapTso">
      <soap:address location="http://190.181.58.244/saptso-api/ServiceSapTso.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>